# Projeto #1 - Análise Exploratória de Dados

Antes de começar, leia as [Instruções](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_1#instru%C3%A7%C3%B5es) e os [Critérios de Avaliação](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_1#crit%C3%A9rios-de-avalia%C3%A7%C3%A3o)

### 1) **(5%)** Qual a base escolhida e qual seu interesse nela?

*Indique o link da base no Kaggle e explique em um parágrafo curto por que essa base é interessante para você.*

https://www.kaggle.com/jboysen/injured-workers

Escolhi esta base de dados porque contém dados de acidentes do trabalho, área em que tenho familiaridade pois poussuo uma empresa de presetação de serviços (www.erplan.com.br) que tem como principal produto um software de gestão de Saúde, Segurança do Trabalho, Meio Ambiente e Qualidade.

Apesar dos dados desta base refletirem uma realidade distante da brasileira, quero investigar justamente as características da base de dados, que conta com um volume razoável de informações brutas (26 colunas x 22.000 linhas), com acidentes graves de trabalho - amputação, fraturas, queimaduras etc.) entre 1/1/2015 e 28/2/2017 em 4.643 cidades dos Estados Unidos nos 54 estados dos Estados Unidos.

In [10]:
# Bibliotecas
import matplotlib.pyplot as plt # visualização de dados
import numpy as np # linear algebra
import pandas as pd # data processing
from geopy.geocoders import Nominatim as geo # geoprocessamento

In [11]:
df = pd.read_csv("database/severeinjury.csv", 
     engine='python')


df.head(5)

,ID,UPA,EventDate,Employer,Address1,Address2,City,State,Zip,Latitude,...,Nature,NatureTitle,Part of Body,Part of Body Title,Event,EventTitle,Source,SourceTitle,Secondary Source,Secondary Source Title
0,2015010015,931176,1/1/2015,FCI Otisville Federal Correctional Institution,Two Mile Drive,NaN,OTISVILLE,NEW YORK,10963.0,41.46,...,111,Fractures,513,Lower leg(s),1214,Injured by physical contact with person while ...,5721,Co-worker,5772.0,Inmate or detainee in custody
1,2015010016,930267,1/1/2015,Kalahari Manufacturing LLC,171 Progress Drive,NaN,LAKE DELTON,WISCONSIN,53940.0,43.59,...,1522,Second degree heat (thermal) burns,519,"Leg(s), n.e.c.",317,"Ignition of vapors, gases, or liquids",7261,"Welding, cutting, and blow torches",NaN,NaN
2,2015010018,929823,1/1/2015,Schneider National Bulk Carrier,420 CORAOPOLIS ROAD,NaN,CORAOPOLIS,PENNSYLVANIA,15108.0,40.49,...,10,"Traumatic injuries and disorders, unspecified",9999,Nonclassifiable,4331,Other fall to lower level less than 6 feet,8421,"Semi, tractor-trailer, tanker truck",741.0,Ladders-fixed
3,2015010019,929711,1/1/2015,PEPSI BOTTLING GROUP INC.,4541 HOUSTON AVE.,NaN,MACON,GEORGIA,31206.0,32.77,...,1972,"Soreness, pain, hurt-nonspecified injury",510,"Leg(s), unspecified",640,Caught in or compressed by equipment or object...,8623,Pallet jack-powered,8420.0,"Truck-motorized freight hauling and utility, u..."
4,2015010020,929642,1/1/2015,North American Pipe Corporation,210 South Arch Street,NaN,JANESVILLE,WISCONSIN,53545.0,42.67,...,111,Fractures,4429,"Finger(s), fingernail(s), n.e.c.",6411,Caught in running equipment or machinery durin...,350,"Metal, woodworking, and special material machi...",NaN,NaN

### 2) **(5%)** Descrição básica do conjunto de dados escolhido pelo aluno (1 parágrafo).
- Identificação da variável a serem trabalhadas
- Classificação das variáveis como: contínua ou discreta.

In [12]:
df.columns

Index(['ID', 'UPA', 'EventDate', 'Employer', 'Address1', 'Address2', 'City',
       'State', 'Zip', 'Latitude', 'Longitude', 'Primary NAICS',
       'Hospitalized', 'Amputation', 'Inspection', 'Final Narrative', 'Nature',
       'NatureTitle', 'Part of Body', 'Part of Body Title', 'Event',
       'EventTitle', 'Source', 'SourceTitle', 'Secondary Source',
       'Secondary Source Title'],
      dtype='object')

*Descrição da base e suas variáveis*

É um banco com dados de acidentes graves de trabalho, com detalhamento da gravidade do acidente, parte do corpo atingida, natureza da lesão e também informações demográficas, especialmente cidade e estado, permitindo comparações das features de gravidade dos acidentes em relação aos estados e cidades.

### 3) **(15%)** Faça uma avaliação descritiva da sua base. Quantas linhas ela possui? Quais os tipos de dados? Quantas e quais features possuem?

Cada variável escolhida pelo aluno precisa passar por ao menos 1 pré-processamento. O pré-processamento pode ser (mas não está limitado a):
- Checagem se os valores estão dentro de um limite permitido ou razoável.
- Tratamento de valores ausentes por eliminação ou substituição.
- Conversão do tipo de dados.

Consultando linhas e colunas

In [13]:
df.shape

(21578, 26)

A base contém 21.578 linhas e 26 colunas

Colunas: 
- (-) ID: Identificador chave PK da linha, irrelevante para estatística
- (-) UPA: Valor numérico não identificado
- (+) EventDate: Data do incidente/acidente
- (-) Employer: Nome do empregado
- (-) Address1: Endereço do empregado
- (-) Address2: Continuação do endereço
- (+) City: Cidade
- (+) State: Estado
- (-) Zip: CEP
- (+) Latitude
- (+) Longitude
- (-)Primay NAICS (Numérico não identificado)
- (+) Hospitalized (Binário)
- (+) Amputation (Binário)
- (-) Inspection (Numérico) - Código
- (-) Final Narrative (Descrição)
- (+) Nature (Código da Natureza)
- (+) Nature Title
- (+) Part of Body (Código da parte do corpo)
- (+) Part of Body Title
- (+) Event (Código do evento)
- (+) Event Title
- (+) Source (Código da Fonte)
- (+) Source title
- (+) Secondary Source (Código da fonte secundária)
- (+) Secondary Source Title

Das 26 colunas, 17 serão utilizadas (+), sendo as últimas 10 são informações repetidas (código/descrição).
As colunas marcadas com (-) não serão utilizadas na análise.
Há necessidades de colunas adicionais auxiliares como quebrar EventDate em Dia, mês e ano e dia da semana.

Dropando as colunas desnecessárias

In [14]:
df=df.drop(['ID', 'UPA', 'Employer', 'Address1', 'Address2', 'Zip','Primary NAICS','Inspection', 'Final Narrative'],axis = 1)

Mostrando as colunas resultantes

In [15]:
df.columns

Index(['EventDate', 'City', 'State', 'Latitude', 'Longitude', 'Hospitalized',
       'Amputation', 'Nature', 'NatureTitle', 'Part of Body',
       'Part of Body Title', 'Event', 'EventTitle', 'Source', 'SourceTitle',
       'Secondary Source', 'Secondary Source Title'],
      dtype='object')

Mostrando os tipos existentes

In [16]:
df.dtypes

EventDate                  object
City                       object
State                      object
Latitude                  float64
Longitude                 float64
Hospitalized              float64
Amputation                float64
Nature                      int64
NatureTitle                object
Part of Body                int64
Part of Body Title         object
Event                       int64
EventTitle                 object
Source                      int64
SourceTitle                object
Secondary Source          float64
Secondary Source Title     object
dtype: object

Informações importantes sobre o dataframe para Insights

In [17]:
df.describe()

,Latitude,Longitude,Hospitalized,Amputation,Nature,Part of Body,Event,Source,Secondary Source
count,21487.000000,21487.000000,21578.000000,21576.000000,21578.000000,21578.000000,21578.000000,21578.000000,5812.000000
mean,36.722735,-87.691200,0.807999,0.269837,886.975206,2282.536055,3905.397071,4811.297618,5210.936855
std,5.500293,11.132113,0.412055,0.451033,779.275403,2796.269288,2523.757451,2882.715191,3227.633387
min,-15.780000,-170.710000,0.000000,0.000000,7.000000,6.000000,20.000000,10.000000,10.000000
25%,32.200000,-95.400000,1.000000,0.000000,111.000000,320.000000,642.000000,3230.000000,2214.000000
50%,38.770000,-87.660000,1.000000,0.000000,1311.000000,513.000000,4331.000000,4153.500000,4418.000000
75%,41.090000,-80.625000,1.000000,1.000000,1312.000000,4422.000000,6252.000000,7124.000000,8621.000000
max,61.290000,145.750000,3.000000,9.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000

Analisando individualmente algumas colunas

In [18]:
df["City"].describe()

count       21569
unique       4642
top       HOUSTON
freq          403
Name: City, dtype: object

In [19]:
df["Part of Body"].describe()

count    21578.000000
mean      2282.536055
std       2796.269288
min          6.000000
25%        320.000000
50%        513.000000
75%       4422.000000
max       9999.000000
Name: Part of Body, dtype: float64

Valores únicos de Origem do Acidente

In [20]:
len (df["Source"].unique())

903

In [21]:
Encontradas 903 fontes diferentes na base

SyntaxError: invalid syntax (<ipython-input-21-82bd2b975e80>, line 1)

In [ ]:
Verificando se há valores nulos em algum lugar que possam ser substituídos

Gerando um novo dataframe só com os valores nulos

In [ ]:
df1 = df[df.isna().any(axis=1)]
df1.head()

Eliminando o dataframe auxiliar

In [ ]:
del df1

Identificado que a coluna Secondary Source tem muitos valores nulos, dropando as colunas equivalentes

In [ ]:
df=df.drop(['Secondary Source','Secondary Source Title'],axis=1)

df.head(10)

Checando novamente se há valores nulos

In [ ]:
df.isnull().values.any()
df.isnull().sum()

Verificado que nas colunas City, Latitude, Longitude e Amputation há valores nulos

No caso de Amputation, é possível deduzir que caso seja nulo, posso assumir que seja 0 (binário)

In [ ]:
df['Amputation'].fillna(0, inplace=True)

No caso de Latitude e Longitude, se a Cidade estiver preenchida, teoricamente é possível descobrir a latitude e longitude usando algum tipo de API

In [22]:
df1 = df[df['City'].isnull()]

df1.head(10)

,EventDate,City,State,Latitude,Longitude,Hospitalized,Amputation,Nature,NatureTitle,Part of Body,Part of Body Title,Event,EventTitle,Source,SourceTitle,Secondary Source,Secondary Source Title
538,1/21/2015,NaN,OKLAHOMA,36.75,-98.35,1.0,1.0,1311,Amputations,449,"Hand(s), n.e.c.",6269,"Struck by swinging or slipping object, other t...",3244,Oil drilling rigs and machinery,NaN,NaN
5580,7/24/2015,NaN,MASSACHUSETTS,42.38,-71.08,1.0,1.0,1311,Amputations,4421,"Fingernail(s), nailbed(s)",9999,Nonclassifiable,9999,Nonclassifiable,NaN,NaN
6050,8/7/2015,NaN,NORTH DAKOTA,47.81,-103.23,1.0,0.0,10,"Traumatic injuries and disorders, unspecified",9999,Nonclassifiable,620,"Struck by object or equipment, unspecified",9999,Nonclassifiable,NaN,NaN
6223,8/13/2015,NaN,TEXAS,29.63,-95.17,1.0,0.0,1729,"Effects of heat and light, n.e.c.",6,BODY SYSTEMS,531,Exposure to environmental heat,9262,Heat-environmental,NaN,NaN
7909,10/14/2015,NaN,ARIZONA,33.39,-112.04,0.0,1.0,1311,Amputations,4422,Fingertip(s),6213,Struck by swinging part of powered vehicle,8426,Delivery truck or van,NaN,NaN
9205,12/3/2015,NaN,CALIFORNIA,37.87,-122.24,1.0,0.0,1972,"Soreness, pain, hurt-nonspecified injury",899,"Multiple body parts, n.e.c.",422,Fall on same level due to slipping,6629,"Floor, n.e.c.",9520.0,"Liquids, unspecified"
9208,12/3/2015,NaN,MASSACHUSETTS,42.56,-71.13,1.0,0.0,111,Fractures,310,"Chest, except internal location of diseases or...",6239,"Struck by falling object or equipment, n.e.c.",2236,"Tables, worktables",NaN,NaN
12925,4/28/2016,NaN,NEW JERSEY,0.00,0.00,1.0,0.0,111,Fractures,43,Wrist(s),4330,"Other fall to lower level, unspecified",8420,"Truck-motorized freight hauling and utility, u...",NaN,NaN
21002,2/8/2017,NaN,NEW YORK,40.71,-74.00,1.0,0.0,10,"Traumatic injuries and disorders, unspecified",9999,Nonclassifiable,422,Fall on same level due to slipping,660,"Floors, walkways, ground surfaces, unspecified",9273.0,"Ice, sleet, snow"

In [53]:
geolocator = geo(user_agent="Python")
location = geolocator.reverse("47.81, -103.23")
print (location.raw['address']['city'])
#print (getattr(location.raw,'city'))

Watford City

### 4) **(60%)** Nos blocos seguintes construa análises que vão justificar suas conclusões.

In [ ]:
# Dropando colunas com valores nulos para evitar erros
#df.dropna(inplace = True)  
#df.shape

#### 4.1) **(20%)** Análise 1 -  Distribuição dos valores para cada uma das variáveis
- Exemplo para variável contínua: se o conjunto de dados possui a variável "idade". Quantos % possui a idade entre 0 e 30 anos? 31 a 59? 60+?

- Exemplo para variável discreta: se o conjunto de dados possui a variável "gênero", quantos % do conjunto de dados é do sexo feminino, quantos % é masculino? Inclua outros gêneros se houver.

In [ ]:
# Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

#### 4.2) **(20%)** Análise 2 - Dependência entre variáveis
O aluno deve apresentar as mesmas distribuições para cada valor da variável dependente. Exemplo: Em um conjunto de dados em que as variáveis independentes são idade e sexo, e a variável dependente é renda. O aluno pode dividir a renda em 3 "grupos", <1000 reais, entre 1000 e 10000 reais e >1000 reais. Para cada um desses grupos, é necessário apresentar a distribuição das variáveis "idade" e "sexo".

In [ ]:
# Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

#### 4.3) **(20%)** Análise 3 - Correlação entre variáveis

O aluno deve apresentar 3 análises de correlação entre variáveis do conjunto de dados trabalhado. Exemplo: Em um conjunto de dados com as informações de temperatura e ocorrência de incêndios, eu gostaria de saber a incidência de correlação entre as duas variáveis.

In [ ]:
# Primeiro par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

In [ ]:
# Segundo par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

In [ ]:
# Terceiro par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

### 5) Conclusões **15%**

*O que é possível concluir com os dados que você analisou? Se fosse fazer uma apresentação, o que levaria como os maiores destaques e por que?*